<div class="dashboard-container">
    <div class="column">
        <div class="row">
            <div class="user-container container-box">
                <div class="square"></div>
                <p>Boa tarde {{this.username}}</p>
            </div>
            <div class="schedules-container container-box">
                <h5>Meus Agendamentos</h5>
                <table class="schedules table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">titulo</th>
                            <th scope="col">data</th>
                            <th scope="col">observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let schedule of schedules$ | async;">
                            <th scope="row">{{schedule.id}}</th>
                            <td>{{schedule.title}}</td>
                            <td>{{dateFormatter(schedule.scheduleDate)}}</td>
                            <td>{{schedule.observation}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="schedules-day-container container-box">
        <h5>Total de Agendamentos</h5>
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
</div>