<div class="dashboard-container">
    <div class="column">
        <div class="row">
            <div class="user-container container-box">
                <div class="square"></div>
                <p>Boa tarde {{this.username}}</p>
            </div>
            <div class="schedules-container container-box">
                <h5>Meus Agendamentos</h5>
                <table class="schedules table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">titulo</th>
                            <th scope="col">data</th>
                            <th scope="col">observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="schedules-day-container container-box"></div>
</div>