<div class="navbar-container">
    <div class="btn-container">
        <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-icon">
                <img src="/assets/defaultUser.png" alt="" width="36px">
            </div>
            <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
        </ul>
    </div>
</div>