.home-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #E0E1DD;

    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}