.calendar-container {
    height: 752px;
    margin: 50px 25px 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 10px;
        background-color: #fff;

        .full-calendar {
            width: 100%;
            padding: 20px
        }
    }
}

.modal-body {
    .form-group {
        margin-bottom: 10px;
    }
}

.modal-footer {

    .btn-save {
        background-color: #415A77 !important;
        color: #E0E1DD;
    }

    .btn-close-modal {
        background-color: #E0E1DD !important;
        color: #415A77;
    }
}