@import url('https://fonts.cdnfonts.com/css/noto-sans-cham-5');

body {
    background-color: #7e91aa;
    font-family: 'Noto Sans Cham', sans-serif;
    color: #1B263B;
    overflow: hidden;
}

input,
button {
    font-family: 'Noto Sans Cham', sans-serif;
    color: #1B263B;
}

input {
    text-indent: 30px;
    font-size: 24px;
}

a {
    color: #1B263B;
    font-family: 'Noto Sans Cham', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-box {
    border: 1px solid #C6C6C6;
    box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
    background-color: #fff;
}