@import url('https://fonts.cdnfonts.com/css/noto-sans-cham-5');

body {
    background-color: #778DA9;
    font-family: 'Noto Sans Cham', sans-serif;
    color: #1B263B;
    overflow: hidden;
}

input,
button {
    font-family: 'Noto Sans Cham', sans-serif;
    color: #1B263B;
}

input {
    text-indent: 30px;
    font-size: 24px;
}

a {
    color: #1B263B;
    font-family: 'Noto Sans Cham', sans-serif;
}